:root {
  --accent-color: #2196f3;
  --text-color: #757575;
  --second-text-color: #212121;
  --title-color: #212121;
  --accent-text-color: #ffffff;
  --background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  width: auto;
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

body {
  font-family: 'roboto', sans-serif;
  color: var(--title-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -----------------------------HEADER---------------------------- */

.header {
  background-color: var(--background-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
}

.navigation {
  display: flex;
}

.navigation .logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
}

.first-logo {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.header-item + .header-item {
  margin-left: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}

.mail,
.tel {
  color: #757575;
}

/* ------------------------------HERO----------------------- */

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title-container {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-text-color);
  margin-bottom: 30px;
}

.hero-btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
  background: #2196f3;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  height: 50px;
}

/* -----------------------advantages-------------------------- */

.advantages {
  background-color: var(--background-color);
  padding-bottom: 0;
}

.advantages-list {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}

.advantages-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.advantages-item-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-item-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ------------------------services--------------------------- */
.services {
  background-color: var(--background-color);
}

.services-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

/* ---------------------------team--------------------------- */

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;
}

.team-item-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: var(--background-color);
  border-radius: 0px 0px 4px 4px;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-item-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ----------------------------footer-------------------------- */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.footer-address {
  margin-top: 20px;
}

.adderess-item + .adderess-item {
  margin-top: 9px;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.address-mail,
.address-tel {
  color: rgba(255, 255, 255, 0.6);
}

/*---------------------PORTFOLIO-----------------------*/

/* ---------------------Works-------------------------- */

.works {
  background-color: var(--background-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item + .filter-item {
  margin-left: 8px;
}

.filter-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

.works-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;
}

.works-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.work-item-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
}

.works-item-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.works-item-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color);
}
